/* 
	INDEX MAIN CSS
*/

main {
	gap: 75px;
}

.button-article {
	cursor: pointer;
}

.projekts {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 2vh;
	height: 53vh;
	background-color: rgb(15, 15, 15);
	margin-bottom: 10vh;
}

.projekts .figure-image img {
	height: 100%;
}

.projekts .figure-image {
	position: relative;
	width: 40%;
	height: 100%;
	display: inherit;
	align-items: center;
}

.projekts .projekts-article {
	padding: 4vh;
	width: 60%;
	height: 100%;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, rgba(255, 255, 255, 0) 75%, rgb(15, 15, 15) 100%);
	pointer-events: none;
}

.projekts-article p {
	font-family: "M PLUS Rounded 1c", static;
	display: flex;
	flex-direction: column;
	gap: 10px;
	color: rgb(254, 254, 254);
	margin-bottom: 25px;
}

.projekts-article h2 {
	color: rgb(254, 254, 254);
}

.main-image-section {
	background-color: black;
	position: relative;
	width: 100%;
	height: 91vh;
}

#slider-content {
	color: white;
	width: inherit;
	height: inherit;
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

#slider-section {
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: url(/imgs/slide-billede-1.jpg);
	background-repeat: no-repeat;
	background-size: 200vh;
	background-position: center;
}

.main-image-section .dots {
	position: absolute;
	text-align: center;
	width: 100%;
	top: 95%;
}

.main-image-section .dot {
	height: 15px;
	width: 15px;
	background-color: #bbbbbb70;
	display: inline-block;
	border-radius: 50%;
	margin-left: 4px;
	margin-right: 4px;
	cursor: pointer;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
}

.dot:hover, .main-image-section .slide-active {
	background-color: #555555;
}

.main-image-section h1, .main-image-section p {
	width: fit-content;
	text-shadow: 0 0 3px black;
}

.main-image-section p {
	margin-top: 0;
	width: 35vh;
	margin-bottom: 20px;
}

.main-selectors figure {
	width: 20vh;
}

.main-selectors {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	height: fit-content;
	padding: 5vh 5vh;
	gap: 2vh;
}

.main-selectors .button-article {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-width: 275px;
	width: 275px;
	height: 410px;
}

.main-selectors .button-article p {
	display: inherit;
	flex-direction: inherit;
	align-items: inherit;
	text-align: center;
}

.main-selectors .button-article h2 {
	margin: 0;
}

@keyframes slide_from {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@keyframes slide_to {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@media screen and (max-width: 800px) {
	.projekts {
		flex-direction: column;
		height: 110vh;
		margin: 0;
	}

	.projekts .figure-image {
		width: 100%;
		height: auto;
	}

	.projekts .projekts-article {
		width: 100%;
	}

	.projekts .figure-image .overlay {
		background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 75%, rgb(15, 15, 15) 100%);
	}

	.main-selectors {
		gap: 15vh;
	}

	.main-image-section {
		background-size: 136vh;
	}
}