/* 
	KONTAKT MAIN CSS
*/

main {
	display: flex !important;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 73vh;
	padding: 12vh;
}

/* .kontakt-form {
	display: none !important;
} */

.main-content div h1 {
	text-align: center;
}

.kontakt-info p {
	display: flex;
	flex-direction: column;
	font-family: "M PLUS Rounded 1c", static;
}

#kontakt-form {
	height: 99%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.kontakt-form h1 {
	margin-top: 0;
}

.kontakt-info h3 {
	margin-top: 15px;
}

.kontakt-info {
	display: inherit;
	flex-direction: column;
	gap: 22px;
	right: 20vh;
}

.kontakt-form {
	width: 50vh;
	height: 51.65vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.oh, .respons {
	padding: 25px;
	background-color: rgb(180, 180, 180);
}

#kontakt-form input, #kontakt-form textarea, #kontakt-form button {
	padding: 10px;
}

#form-output {
	margin: auto;
}

#kontakt-form textarea {
	height: 125px;
}

#kontakt-form button {
	border: none;
	background-color: #000;
	font-family: "M PLUS Rounded 1c", static;
	font-weight: bold;
	font-size: 1.5vh;
	color: white;
	cursor: pointer;
	margin: 0;
}

#kontakt-form textarea {
	resize: none;
}

@media screen and (max-width: 1185px) {
	.main-content {
		flex-direction: column;
		align-items: center;
		height: fit-content;
		padding: 4vh;
	}
}

@media screen and (max-width: 800px) {
	#kontakt-form {
		width: 89%;
		margin: auto;
	}

	.kontakt-form h1 {
		margin: 0 auto;
	}

	.main-content div h1 {
		width: 100%;
		font-size: 3vh;
	}

	.kontakt-form {
		width: 45vh;
		height: 63vh;
	}
}