/* ERROR CSS PAGE STYLEING */

* {
	box-sizing: border-box;
	text-decoration: none;
}

body {
	background-color: #ffffff;
	height: 100vh;
	width: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-image: url(/old/imgs/error.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

p, a {
	font-family: "M PLUS Rounded 1c", static;
	font-weight: bold;
}

p {
	margin-top: 0;
	text-align: center;
	font-size: 3vh;
}

p span {
	text-decoration: underline;
}

h1 {
	color: red;
	font-size: 7vh;
	font-family: "Sigmar", serif;
	font-weight: 400;
	margin: 0;
}

.black-button {
	background-color: transparent;
	border-color: black;
	border: 2px;
	border-style: solid;
	color: black;
	font-weight: bold;
	padding: 5px 10px;
	cursor: pointer;
}