@use "./_colors.sass" as var

.top-content
	gap: 25px
	height: 50px
	display: flex
	align-items: center
	margin-bottom: 25px
	padding: 0 25px
	transition: background 0.3s
	justify-content: space-between
	background: light-dark(var.$primary-box-color, var.$secondary-box-color)

	&__logo
		gap: 10px
		display: inherit
		align-items: center

		&:hover
			text-decoration: none
			color: var.$secondary-link-color

			& h2
				color: inherit

		&-title
			font-size: 16px
			transition: color 0.5s

		&-icon
			width: 50px
			color: light-dark(var.$secondary-text-color, var.$primary-text-color)

	&__navigation

		&-link
			margin: 0 10px
			text-align: center
			width: fit-content
			padding-bottom: 2px
			text-decoration: none
			display: inline-block
			transition: border 0.5s, color 0.5s
			border-bottom: 2px solid transparent
			color: light-dark(var.$primary-text-color,var.$secondary-text-color)

			&.active, &:hover
				text-decoration: none
				border-bottom: 2px solid var.$secondary-link-color

	&__mode
		height: 25px
		cursor: pointer
		color: light-dark(var.$secondary-background-color, var.$primary-background-color)

		&-icon
			width: inherit
