@use "./_colors.sass" as var

.content-article
	width: 95dvw
	padding: 25px
	margin: 30px auto
	max-width: 900px
	transition: background 0.3s
	background: light-dark(var.$primary-box-color, var.$secondary-box-color)

	&__links

		&-button
			width: 20px
			height: 20px
			margin-left: 10px
			display: inline-block
			transition: color 0.5s
			color: light-dark(var.$primary-text-color, var.$secondary-text-color)

	&__content
		margin-top: 25px

		&.special-content
			width: fit-content
			display: inline-block

			& span span
				font-weight: bold

	&__title
		display: flex
		flex-wrap: wrap
		font-weight: normal
		align-items: center
		justify-content: space-between

		&-status
			margin: 0 0 0 10px
			padding: 5px 10px
			font-size: 0.85rem
			border-radius: 100px
			text-transform: lowercase
			color: var.$secondary-text-color
			background: var.$primary-link-color

	&__subtitle
		display: flex
		font-size: 16px
		font-style: italic
		font-weight: normal
		justify-content: space-between

		&-status
			width: 20px
			height: 20px
			margin-right: 10px
			display: inline-block
			transform: translateY(3px)
