// COLORS USED FOR EVERY FILE/COMPONENT
$primary-text-font: sans-serif
$primary-title-font: sans-serif

$primary-text-color: #000000
$primary-link-color: #006fd1
$primary-hover-color: #cfcfcf
$primary-button-color: #000000
$primary-background-color: #ffffff

$secondary-text-color: #ffffff
$secondary-link-color: #0088ff
$secondary-button-color: #ffffff
$secondary-hover-color: #A5A5A5
$secondary-background-color: #252525

$primary-box-color: #f4f4f4
$secondary-box-color: #1c1c1c

$primary-status-color: #0ba400
$secondary-status-color: #cfcf00
$third-status-color: #a40000
