@use "./_colors.sass" as var

.bottom-content
	height: 60px
	display: flex
	padding: 5px 25px
	align-items: center
	justify-content: inherit
	transition: background 0.3s
	background: light-dark(var.$primary-box-color, var.$secondary-box-color)

	&__version
		border: none
		padding: 7.5px
		font-size: 15px
		cursor: pointer
		background: transparent

	&__language
		border: none
		cursor: pointer
		overflow: hidden
		background: transparent

		& svg
			height: 33px
