.colored-tag

	&.JAVASCRIPT
		color: #ff9d00
	&.SASS
		color: #ff0077
	&.EXPRESS
		color: #787878
	&.AXIOS
		color: #5A29E4
	&.REACT
		color: #0073ff
	&.CSS
		color: #fb00ff
	&.LUA
		color: light-dark(#000099, white)
	&.NODEJS
		color: #59aa46
	&.HTML
		color: #fd5425
	&.GIT
		color: #f05539
	&.SKRIPT
		color: light-dark(black, white)
	&.VITE
		color: #a454fe
