.colored-tag

	&.JAVASCRIPT
		color: #f0db4f
	&.SASS
		color: #cf649a
	&.EXPRESS
		color: #787878
	&.AXIOS
		color: #5A29E4
	&.PHP, &.MYSQL
		color: light-dark(black, white)
	&.REACT
		color: #58c4dc
	&.BLUE
		color: #0073ff
	&.CSS
		color: #2965f1
	&.LUA
		color: light-dark(#000099, white)
	&.NODEJS
		color: #59aa46
	&.HTML
		color: #ef652a
	&.GIT
		color: #de4c36
	&.SKRIPT
		color: light-dark(black, white)
	&.VITE
		color: #a454fe
